<div class="memo w-full my-2.5">
    <div class="title flex flex-col flex-wrap p-3">Memoria</div>
    <div class="grid grid-cols-2">
        <div class="flex justify-center items-center" *ngFor="let item of memoriaDatos; let i = index"
        [ngClass]="{'isActive': getIsActive(i)}">
            <div class="border p-1 border-black w-full">
                {{ MAR_MBR.memoria[i] }}
            </div>
            <div class="border p-1 bg-[#164e63] border-black w-16">
                {{ i }}
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 p-3 border border-black" [ngClass]="{'isActive': MAR_MBR.pideInstruccion}">
        <div *ngFor="let key of operacionKeys">
            {{ key }} {{ MAR_MBR.operacionMap[key] }}
        </div>
    </div>
</div>