<form [formGroup]="fGroup">
  <label for="myTextarea">Text Area:</label>
  <textarea id="myTextarea" formControlName="setInstrucciones"></textarea>
  <button type="submit" (click)="guardarInstruccionesEnMemoria()">Iniciar</button>
</form>

<body>
  <div class="cpu">
    <div class="izq">
      <div class="rvu">
        <h4>RVU</h4>
      </div>
    </div>
    <div class="cent">
      <app-alu [instruccion]="operacionALU" (respuestaEmmiter)="respuestaDeALU($event)">
      </app-alu>
    </div>
    <div class="der">
      <div class="ir com">
        <h4>IR</h4>
      </div>
      <app-unidad-control class="uc com" [instrucciones]="setInstrucciones"
        (instruccionEmitter)="pasarInstruccion($event)">
      </app-unidad-control>
      <div class="mar com">
        <h4>MAR</h4>
      </div>
      <div class="mbr com">
        <h4>MBR</h4>
      </div>
      <div class="pc com">
        <h4>PC</h4>
      </div>
    </div>
  </div>
  <div class="busDirec"> </div>
  <div class="busDatos"> </div>
  <div class="busControl"> </div>
  <div class="memoria">
    <app-memoria [datos]="guardarEnMemoria"></app-memoria>
  </div>
</body>