.cpu, body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.com{
    padding: 25px;
    margin: 5px;
    border-radius: 10px;
    border-color: black;
}